/**
 * Use border-box box-sizing universally to ensure that borders and padding are
 * always accounted for in dimension specifications.
 */
* {
  box-sizing: border-box;
}

html {
    margin: 0 auto;
    color: hsl(48, 50%, 80%);
    background-color: hsl(48, 35%, 35%);
    /*background-color: #908040;*/
    /*background: url("../images/green-screen-bg.png");*/
    background-origin: border-box;
    background-repeat: repeat;
}

body {
    width: 65%;
    margin: 0 auto;
    font-size: 1.4em;
    /*text-shadow: 0 0 0.5em hsla(130, 95%, 95%, 0.25);*/
}

body.terminal {
    font-family: "VT323", monospace;
}

body.modern {
    font-family: "PT_Serif", serif;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    color: hsl(48, 60%, 90%);
}

h1 {
    font-size: 4em;
    font-variant: small-caps;
    margin: 0;
}

p {
    margin-top: 0em;
    margin-bottom: 0.75em;
}

ul {
    list-style-type: square;
    margin-top: 0em;
    margin-bottom: 0em;
}

a {
    color: hsl(60, 100%, 50%);
    font-weight: bold;
}

a:hover {
    color: hsl(130, 10%, 10%);
    background-color: hsl(60, 100%, 50%);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

#logo {
}

.tagline {
    text-align: center;
    color: hsl(48, 50%, 70%);
    /*font-family: "VT323", monospace;*/
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

p.bio-heading {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(48, 60%, 90%);
    margin-bottom: 0.5em;
}

div.bio-column {
    padding: 0.5em;
}

table.contact-info td {
    padding: 0.5em;
}

/**
 * Use flexbox to lay out the sections (Bio, Skills, Exp, etc.) in a column.
 */
.sections {
    display: flex;
    flex-direction: column;
}

/**
 * Use flexbox to lay out each section (eg. Bio) as a row. The leftmost part of
 * the row is the section sidebar, which is followed by the section content.
 */
.section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.section-header {
    font-family: "Rajdhani", sans-serif;
    width: 100%;
    font-size: 1.6em;
    font-weight: bold;
    overflow-wrap: break-word;
    background-color: hsl(48, 50%, 50%);
    color: hsl(48, 50%, 20%);
    margin-bottom: 0.25em;
}

.section-content {
    width: 100%;
    font-size: 1em;
    justify-content: space-around;
}

#bio .section-content {
    display: flex;
    flex-direction: row;
}

#skills .section-content {
    display: flex;
    flex-direction: row;
}

#interests .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

p.skill-category {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 0em;
}

div.skill-column {
}

div.skill-items {
    text-align: center;
}

ul.skills {
    list-style-type: "\25B6 ";
}

td.skill-category {
    width: 25%;
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 0.5em;
    text-align: right;
}

/*
td.skill-items {
    width: 75%;
}
*/

div.skill-items {
    margin: 0 0 0.5em auto;
}

.tag-desc {
    display: none;
}

ul.tag-list {
    display: inline;
    padding: 0;
}

/*
ul.tag-list li {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.25em;
    padding: 0.1em 0.25em;
    background-color: hsl(120, 80%, 80%);
    text-shadow: none;
    box-shadow: 0 0 8px 1px hsla(120, 80%, 80%, 0.5);
    color: hsl(130, 10%, 10%);
}
*/

ul.tag-list li {
    font-family: "Rajdhani", sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin: 0 0.15em;
    padding: 0.01em 0.25em;
    background-color: hsl(60, 80%, 80%);
    text-shadow: none;
    box-shadow: 0 0 8px 1px hsla(60, 80%, 80%, 0.5);
    color: hsl(130, 10%, 10%);
}
.contact-tel {
    font-weight: bold;
    font-size: 1.2em;
}

.contact-email {
    font-weight: bold;
    font-size: 1.2em;
}

.contact-github {
    font-weight: bold;
    font-size: 1.2em;
}

img.header-photo {
    width: 256px;
    margin: 0 auto;
}

.job-employer {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: hsl(60, 80%, 80%);
}

.job-title {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
}

.job-duration {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: hsl(60, 60%, 60%);
}

.education-subject {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    color: hsl(60, 80%, 80%);
}

.education-grade {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
}

.education-place {
    font-style: italic;
}

.education-duration {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: hsl(60, 60%, 60%);
}

.certification {
    display: flex;
}

.cert-icon img {
    width: 64px;
}

.cert-name {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 1em;
}

.interest-item {
    text-align: center;
    padding: 1em;
}

.interest-item p {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
}

.interest-item .material-symbols-outlined {
    font-size: 3em;
}

@media screen and (max-width: 1000px) {
    /*
     * Make sections stack in columns instead of rows. This puts the sidebar at
     * the top, instead of to the left.
     */
    .section {
        flex-direction: column;
    }

    /*
     * Stretch the sidebar to full width (as it's now the top bar of each
     * section) and reduce the vertical padding so it's not so thick.
     */
    .section-header {
        width: 100%;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
    
    /*
     * Stack the skills columns on top of each other to give them more
     * horizontal space.
     */
    #skills .section-content {
        flex-direction: column;
    }

    /*
     * Reduce the body margins (they don't leave enough space for a readable
     * column) and allow the body to stretch to a wider width
     */
    body {
        margin: 1em 1em;
        width: 90%;
    }

    /*
     * Reduce the interests grid columns to 2.
     */
    #interests .section-content {
        grid-template-columns: 1fr 1fr;
    }
}

